@keyframes grow {
    0% {
        width: 0%;
        height:0%;
        opacity: 0;
        font: 0;
        color:transparent;
    }

    20%{
    	height: auto;
    	width: auto;
    }


    99%{
    	color: inherit;
    }

    100% {
    	
        opacity: 1;
    }
}

.greeting, .landingInfo, .demo {
    animation-name: grow;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    border-radius: 2vw;
    background:rgba(255,255,255, 0.7);
    margin: .5rem;
}



.landingMain {
/*	background: #a8c686;*/
	height: 100vh;
}

.landingImage {
	background: url('../uxResources/oregonFlag.png');
}

.landingInfo, .greeting, .demo {
    font-family: 'Montserrat', sans-serif;
}



@media only screen and (min-width: 750px) {
	.landingMain h1 {
		top: 20%;
	}
	.landingMain span {
		top: 28%;
	}

	.todos {
		top:0;
		border: solid;
position: relative;
margin-top: 24vh;
width: 45%;
padding: 1rem;
overflow: auto;
height: 60%;
	}
}