

.landingMain{
    display: grid;
    grid-template-columns: repeat(minmax(3,auto),minmax(200px, 1fr));
    grid-template-rows: repeat(3, minmax(200px,auto));
    grid-gap: 5vw;
    background: linear-gradient(
      rgba(21, 122, 110, 0.5), 
      rgba(21, 122, 110, 0.5)
    ),
    /* bottom, image */
    url(../uxResources/pdxMallDT.jpeg);
    background-size: cover;
    width: 100vw;
    
}



.landingInfo {
    grid-column: 1/3;
    grid-row: 2/3;
}

.greeting {
    grid-column: 1 / 2;
}

.demo {
    grid-column: 2;
    grid-row: 3/-1;
}



@media screen and (min-width: 750px) {
        .landingInfo {
            grid-column: 3/-1;
        }        

}






