.todos {
	border: solid;
position: absolute;
top: 88%;
/*width: 45%;
*/padding: 1rem;
overflow: auto;
height: 60%;
background: inherit;
}

.landingMain {
/*	background: #a8c686;*/
	height: 100vh;
}

.landingMain h1{
	position: absolute;
	top: 12%;
}

.landingMain span {
	position: absolute;
	top: 19%;
}

.landingImage {
	background: url('../uxResources/oregonFlag.png');
}

.demo{
	position: absolute;
	left: 50%;
	top: 50%;
}

@media only screen and (min-width: 750px) {
	.landingMain h1 {
		top: 20%;
	}
	.landingMain span {
		top: 28%;
	}

	.todos {
		top:0;
		border: solid;
position: relative;
margin-top: 24vh;
width: 45%;
padding: 1rem;
overflow: auto;
height: 60%;
	}
}