h5.modal-title {
	color: #ACE894;
}

.modal-content {
	border: solid #8CADA7;
	background: #254D32;
}

.loginFormFieldSet {
	font-family: 'Do Hyeon', sans-serif;
	color: #ACE894;

}

.form-control {
	background: whitesmoke;
}

.submitButton {
	position: relative;
	margin: 1vh 30%;
	min-width: 40%;
	border-radius: 1.5vw;
}

.submitButton:hover{
	background: #1F363D;
	color: #8CADA7;
}