.brandType {
	font-family: 'Poiret One', serif;
	font-weight: 800;
}

.navClickables {
	font-family: 'Do Hyeon', sans-serif;
}

.navClickables:hover {
	color: #ACE894;
}

/*.cartImageSection {
	background-image: url('../uxResources/cart.png');
}*/

.navBarBody{
	border:solid #1f363d 1vw;
	position: fixed;
	width: 100%;
	z-index: 1;
	background: #8cada7;
}

.loginRegisterLink {
	position: relative;
	margin: 1vh 30%;
	min-width: 40%;
	border-radius: 1.5vw;
}

.loginRegisterLink:hover{
	background: #1F363D;
	color: #8CADA7;
}

