#brandType {
	font-family: 'Poiret One', serif;
	/*0*/
	font-size: 1.3rem;
/*	color: #ffea0f;
*/
	color: #002a86;
;
}

img {
	float: right;

clear: left;

width: 8rem;

position: relative;


z-index: -1;

text-align: right;
}

#NavbarToggler span {
/*	color: #ffea0f;
*/
	color: #002a86;

}

.navClickables {
	font-family: 'Do Hyeon', sans-serif;
}

.navClickables:hover {
	color: #ACE894;
}

/*.cartImageSection {
	background-image: url('../uxResources/cart.png');
}*/

.navbarMain{
	position: fixed;
	overflow:hidden;
	top:0;
		width: 100%;
		z-index: 2;

}

.navBarBody{
	border:solid #1f363d 1vw;
	
	z-index: 1;
/*	background: #002a86;
*/		background: #ffea0f;

}

.loginRegisterLink {
	position: relative;
	margin: 1vh 30%;
	min-width: 40%;
	border-radius: 1.5vw;
}

.loginRegisterLink:hover{
	background: #1F363D;
	color: #002a86;
}

