.productCardMain {
	font-family: 'Do Hyeon', sans-serif;
	margin: 6vw;
    
}



.cardBody {
/*    display: flex;*/
/*    justify-content: space-between;*/
}

.cardBody:hover {
    background: red;
}

.cardInit {
	border: solid #254d32;
	background: #ace894;
}